/*---------------------------

        RESET   

------------------------------*/

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

/*---------------------------

        GENERAL

------------------------------*/
section.container > div,
footer.container > div,
main.container > div > div {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

/*---------------------------

    HEADER

------------------------------*/

.head {
  min-height: 80px;
  display: flex;
  align-items: center;
}
.head-background {
  background-color: #add8e6;
}

.header {
  font-size: 22px;
  background-color: #daa520;
  display: flex;
  border-width: 2px;
  padding: 5px;
  border-style: dashed;
}
.header.first {
  justify-content: flex-start;
  min-width: 25%;
}
.header.center {
  justify-content: center;
  flex-grow: 2;
}
.header.last {
  justify-content: flex-end;
  min-width: 25%;
}

/*---------------------------

    HERO

------------------------------*/

.hero-bg {
  background-color: #00008b;
}

.hero {
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.h-main {
  background-color: #ee82ee;
  width: 60%;
  height: 80%;
}

/*---------------------------

    MAIN

------------------------------*/
main {
  height: 2800px;
}

main .first-bg {
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .second-bg {
  background-color: #d3d3d3;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
}

main .third-bg {
  height: 1000px;
  background-color: #d3d3d3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rectangle {
  height: 90%;
  border-style: dashed;
  border-width: 2px;
  display: flex;
}

.blue {
  display: inline-block;
  width: 60%;
  height: 100%;
  border-width: 2px;
  background-color: #1e90ff;
}
.first-bg .blue {
  border-right-style: dashed;
}
.second-bg .blue {
  border-left-style: dashed;
}

.pink {
  background-color: #ffc0cb;
  height: 100%;
  width: 40%;
  display: inline-block;
  justify-content: start;
}
.green {
  background-color: #228b22;
}

/*---------------------------

    FOOTER

------------------------------*/

footer {
  height: 750px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: #23272a;
}
footer .rectangle {
  height: 70%;
  margin-top: auto;
}

footer .last {
  height: 10%;
  font-size: 22px;
  margin-top: auto;
  background-color: #7fffd4;
  align-content: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.feet {
  font-size: 22px;
  background-color: #ffb6c1;
  display: flex;
  border-width: 2px;
  padding: 5px;
  border-style: dashed;
  display: inline-block;
}
.button {
  font-size: 22px;
  background-color: #ffb6c1;
  display: flex;
  border-width: 2px;
  padding: 5px;
  border-style: dashed;
  display: inline-block;
}
/*---------------------------

    Debug

------------------------------*/
