/*---------------------------

        RESET   

------------------------------*/

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

/*---------------------------

        GENERAL

------------------------------*/

.container > * {
  max-width: 1200px;
  margin: auto;
}

main div {
  min-height: 600px;
}

.mlarge {
  min-height: 1000px;
}
.footer-first {
  min-height: 620px;
}
.footer-second {
  min-height: 110px;
}

/*---------------------------

    HEADER

------------------------------*/
.head {
  min-height: 80px;
  display: flex;
  align-items: center;
}
.head-background {
  background-color: #add8e6;
}

.header {
  font-size: 22px;
  background-color: #daa520;
  display: flex;
  border-width: 2px;
  padding: 5px;
  border-style: dashed;
}
.header.first {
  justify-content: flex-start;
  min-width: 25%;
}
.header.center {
  justify-content: center;
  flex-grow: 2;
}
.header.last {
  justify-content: flex-end;
  min-width: 25%;
}

/*---------------------------

    HERO

------------------------------*/

.hero-bg {
  background-color: #00008b;
}

.hero {
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.h-main {
  background-color: #ee82ee;
  width: 60%;
  height: 80%;
}

/*---------------------------

    Debug

------------------------------*/
