/*---------------------------

        RESET   

------------------------------*/

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

/*---------------------------

        GENERAL

------------------------------*/
section.container > div,
main.container > div > div {
  width: 1200px;
  margin: auto;
}

/*---------------------------

    HEADER

------------------------------*/

.head {
  min-height: 80px;
  display: flex;
  align-items: center;
}
.head-background {
  background-color: #add8e6;
}

.header {
  font-size: 22px;
  background-color: #daa520;
  display: flex;
  border-width: 2px;
  padding: 5px;
  border-style: dashed;
}
.header.first {
  justify-content: flex-start;
  min-width: 25%;
}
.header.center {
  justify-content: center;
  flex-grow: 2;
}
.header.last {
  justify-content: flex-end;
  min-width: 25%;
}

/*---------------------------

    HERO

------------------------------*/

.hero-bg {
  background-color: #00008b;
}

.hero {
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.h-main {
  background-color: #ee82ee;
  width: 60%;
  height: 80%;
}

/*---------------------------

    MAIN

------------------------------*/
main {
  height: 2800px;
}

main .first-bg {
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .second-bg {
  background-color: #d3d3d3;
  height: 600px;
}

.rectangle {
  height: 80%;
  width: 60%;
  border-style: dashed;
  border-width: 2px;
  display: flex;
}

.blue {
  display: inline-block;
  width: 60%;
  height: 100%;
  background-color: #1e90ff;
  border-right-style: dashed;
  border-width: 2px;
}

.pink {
  background-color: #ffc0cb;
  height: 100%;
  width: 40%;
  display: inline-block;

  justify-content: right;
}

/*---------------------------

    Debug

------------------------------*/
